@import url("https://fonts.googleapis.com/css?family=Work+Sans");



h1 {
    margin: auto;
    margin-top: 30px;
    color: red;
    background-color: greenyellow;
    width: 200px;
    height: 40px;
}

p{
    background-color: aqua;
}